# WorkOS AuthKit Configuration (Frontend)
VITE_WORKOS_CLIENT_ID=YOUR-WORKOS-CLIENT-ID
VITE_WORKOS_REDIRECT_URI=http://localhost:5173/callback

# Convex Configuration
VITE_CONVEX_URL=your-convex-url

GITHUB_CLIENT_ID=your-gitub-OAuth-client-ID

GITHUB_CLIENT_SECRET=your-github-OAuth-client-secret
